<link rel=stylesheet href='stylesheets/index.css' />



<div id='main-image' class='row '>
  <div class="card">
   <div class="card-image">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="images/socials/lighteningtalks.jpg"> <!-- random image -->
          <div class="caption right-align">
            <h3>Lightening Talks</h3>
            <!-- <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
          </div>
        </li>
        <li>
          <img src="images/socials/flipout.jpg"> <!-- random image -->
          <div class="caption right-align">
            <h3>Flip Out</h3>
            <!-- <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
          </div>
        </li>
        <li>
          <img src="images/socials/pinkwed.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>Pink Wednesday</h3>
            <!-- <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  </div>


<div class='row'>
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Some News</span>
        <p>Some news content and maybe an image</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Some Event Info</span>
        <p>Some news content and maybe an image</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Something from the facebook feed</span>
        <p>Some news content and maybe an image</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

</div>

<script type='text/javascript'>
  $(document).ready(_ => {
    $('.slider').slider();
  });
</script>
