:root {
  --member-image-width: 300px;
}

.member {
  display:inline-block;
  margin:1em;
}

.member>figure {
  margin:0;
}

.member, .member>figure, .member>figure>img {
  max-width:var(--member-image-width);
  width:var(--member-image-width);
  height:auto;
}

.member>figure>img {
  border-radius:100%;
}

.member-name {
  font-weight: 700;
  text-transform: capitalize;
}

.member-role {
  font-size: 2em;
  font-weight:400;
  text-transform: capitalize;
}
