.hidden {
  display:none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.socialicon {
  opacity:0.6;
  transition: 1s;
}

.socialicon:hover {
  opacity:1;
}

@media screen and (max-width: 420px) {
  .socialicon {
    max-width: 90px;
    height:auto;
  }
}

#main-image > div > div > div > ul.indicators > li.indicator-item.active {
  background-color: #311b92;
}
